<html>
<head>
    <script>
        function send_data(){
            let body;
            let textarea = document.getElementById("json_data");
            let submit = document.getElementById("submit");
            let resp = document.getElementById("result");
            let xhttp = new XMLHttpRequest;
            xhttp.open("POST", "{% url 'import-courses' %}", true);
            xhttp.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    document.getElementById("json_data").remove();
                    document.getElementById("submit").remove();
                    resp.innerHTML = this.responseText;
                }
            };
            xhttp.withCredentials = true;
            body = textarea.value;
            xhttp.send(body);
            textarea.hidden = true;
            submit.hidden = true;
            resp.innerHTML = "Waiting for response..."
        }
    </script>
</head>
<body>
    <textarea id="json_data" cols="80" rows="10"></textarea>
    <button id="submit" onclick="send_data()">Submit</button>
<div id="result"></div>
</body>
</html>